extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    form(name="adduser",method="get", action="/getEvent")
      input(type="text", name="lat")
      input(type="text", name="long")
      button#btnSubmit(type="submit") submit
