doctype html
html
  head
    title= title
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    script(src="http://d3js.org/d3.v3.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/restaurants.js")
    script(src="/javascripts/grocery.js")

    meta(charset="UTF-8")
    meta(content="utf-8" http-equiv="encoding")

  body
    block content
