extends layout

block content
	h1 List of restaurant
	p Here are restaurants around you
	a(href="/#search") Back to Search
	each restaurant in restaurants
		h2
			a(href=restaurant.url) #{restaurant.name}
